<h5 class="footer-info-heading">SUBSCRIBLE EMAIL</h5>
<p>Follow Us For Better Updates.</p>

<form class="form" action="{{urls.subscribe.action}}" method="post">
    <fieldset class="form-fieldset">
        <input type="hidden" name="action" value="subscribe">
        <input type="hidden" name="nl_first_name" value="bc">
        <input type="hidden" name="check" value="1">
        <div class="form-field">
            <label class="form-label is-srOnly" for="nl_email">{{lang 'common.email_address'}}</label>
            <div class="form-prefixPostfix wrap">
                <input class="el-emailInput form-input" id="nl_email" name="nl_email" type="email" value="{{customer.email}}" placeholder="Enter your email here...">
                <input class="el-emailBtn button button--primary form-prefixPostfix-button--postfix" type="submit" value="{{lang 'newsletter.subscribe_submit'}}">
            </div>
        </div>
    </fieldset>
</form>
