---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---
{{#partial "page"}}

    {{#each product.shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

    <div itemscope itemtype="http://schema.org/Product">
    	{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    	<div class="page">
	        {{> components/products/product-view schema=true  }}
	        {{#all settings.show_product_reviews (if theme_settings.show_product_reviews_tabs '!==' true)}}
            	{{> components/products/reviews reviews=product.reviews product=product urls=urls}}
        	{{/all}}
	        {{> components/products/tabs}}
       </div>
    </div>
    <script type="text/javascript">
        var google_tag_params = {
        ecomm_prodid: '{{product.id}}', 
        ecomm_pagetype: 'product',
        ecomm_totalvalue: {{#if product.price.with_tax}}{{product.price.with_tax.value}}{{/if}}{{#if product.price.without_tax}}{{product.price.without_tax.value}}{{/if}}
        };
    </script>
{{/partial}}
{{> layout/base}}
