// =============================================================================
// Banners Component
// =============================================================================


// Banners
// -----------------------------------------------------------------------------
//
// Purpose: Control the look and feel of the top and bottom site banners
//
// -----------------------------------------------------------------------------

.banners {
    background-color: #252525;
    color: stencilColor("color-white");
    padding: 1rem 0;
    text-align: center;

    p{
        margin-bottom: 0;
        font-size: 0.9285rem;
    }

    a {
        color: color("whites", "bright");
    }
    .banner>div>p{
        display: flex;
        justify-content: space-between;
    }
}

.banner {
    @include grid-row;

    + .banner {
        margin-top: spacing("single");
    }
}
