// =============================================================================
// CARDS (CSS)
// =============================================================================
//
// 1. Allow users to click the anchor tag on the image in the figcaption empty
//    space. This provides a much larger and simpler hit state for navigating
//    to the product details page. (Does not work in IE10 or earlier).
// 2. Using translate3d to counter a chrome specific bug: When using a masonry
//    styled layout via CSS column-count etc, transforms applied to descendants
//    are made invisible, except for 3d transforms...
//
// -----------------------------------------------------------------------------


.card-figure {
    margin-top: $card-figure-marginTop;
    position: relative;
    &:hover {

        // scss-lint:disable NestingDepth
        .card-figcaption {
            opacity: 1;
        }
    }
}

.card-img-container {
    max-width: get-width(stencilString('productgallery_size'));
    margin-top: 1rem;
    @include lazy-loaded-padding('productgallery_size');
}

.card-figcaption {
    display: none;
    margin: $card-figcaption-margin;
    pointer-events: none; // 1

    @include breakpoint("medium") {
        display: block;
    }
}

.card-figcaption-body {
    display: $card-figcaption-body-display;
    pointer-events: all; // 1
    transform: translate3d(0, -50%, 0); // 2
}

.card-image {
    @include lazy-loaded-img;
    border: 0;
    width: auto;
    max-height: 100%;
}

.card-title {
    font-size: 14px;
    margin: $card-title-margin;
    font-family: PoppinsM;
    overflow:hidden; 
    text-overflow:ellipsis; 
    white-space:nowrap; 
    @include breakpoint("medium"){
        overflow:initial; 
        text-overflow:initial; 
        white-space:initial;
     }
 

    > a {
        color: #808080;
        text-decoration: $card-title-textDecoration;
//      
                // scss-lint:disable NestingDepth
        &:hover {
            color: $card-title-color-hover;
        }
    }
}

.card-text {
    margin-bottom: $card-text-marginBottom;
    font-weight: bold;
    color: #808080;
    display: flex;
    justify-content: center;
    abbr {
        border: 0;
        color: inherit;
        font-size: inherit;
    }

}

.card-figcaption-button {
    border: $card-figcaption-button-border;
    display: $card-figcaption-button-display;
    margin: $card-figcaption-button-margin;
    &:active {
        background-color: $card-figcaption-button-backgroundHover;
        border: $card-figcaption-button-border;
    }

    + .card-figcaption-button {
        margin: $card-figcaption-button-margin;
    }
}

.card-body {
    text-align: center;

    @include breakpoint("small") {
        text-align: center;
    }
}


//
// Alternate card
//
// Purpose: Used to give the card alternative styling
// -----------------------------------------------------------------------------

.card--alternate {
    border: 3px solid stencilColor("card--alternate-borderColor");
    transition: all 0.15s ease;

    .card-body {
        background-color: stencilColor("card--alternate-backgroundColor");
        padding: spacing("half");
        transition: all 0.15s ease;

        @include breakpoint("small") {
            padding: spacing("single");
        }
    }

    &:hover {
        border-color: stencilColor("color-primary");

        // scss-lint:disable SelectorDepth, NestingDepth
        .card-body {
            background-color: stencilColor("color-primary");

            .card-text {
                color: stencilColor("card--alternate-color--hover");
            }
        }

        .card-title > a {
            color: stencilColor("card--alternate-color--hover");
        }
    }
}
.add-cart-container{
    text-align: center;
    .card-figcaption-button{
       // display: inline-block;
//        padding:0.5rem 0;
//        border-bottom:1px solid #666666;
//        border-radius: 0;
//        color: #000000;
//        font-weight: bold;
	    background: #454545;
        padding:0.8rem 0;
        width: 90%;
        text-align: center;
        color:#fff;
        margin: 0 auto;
        border-radius:4px;
        font-size: 13px;
        @include breakpoint("small"){
            width: 12rem;
        }
    }
}
.card-body .card-text {
    font-size: 1rem;
    margin-bottom:0.5rem;
}
.productCarousel-slide .card .card-title{
    @include breakpoint("small"){
        max-height: 40px;
        overflow: hidden;
        min-height: 40px;
    }
}
.price-section.price-section--withoutTax{
    .price-red{
        color: red;  
    }
    span{
        color: #101010;
        font-size: 1rem;
        margin-right:5px ;
    }
    .price--rrp{
        color: #808080;
    }
    &.non-sale-price--withoutTax{
        span{
 
            color: #808080;
        }
    }

}
