// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================


// Container
// -----------------------------------------------------------------------------

.productView {
    padding-top: spacing("base");
}


// Images
// -----------------------------------------------------------------------------
#tab-specs{
    width: 85%;
    margin: 0 auto;
}
.tab-specs-th{
    font-size: 1rem;
    color: #4f4f4f;
    padding: 10px 0;
    font-weight: normal;
}
.tab-specs-td{
     font-size: 1rem;
    color: #4f4f4f;
    text-align: center;
}
.productView-images {
    margin-bottom: spacing("double");
     margin-bottom: 0px;
}

.productView-image {
    display: none;
    align-items: center;
    
    justify-content: center;
    margin: auto;
    position: relative;
    width: 80%;
    @include breakpoint("medium") {
        display: flex;
        min-height: 366px;
        min-width: inherit;
    }

    + .productView-thumbnails {
        margin-top: spacing("half");
    }

    @media (min-width: $screen-xxsmall) and (max-width: $screen-medium) {
        pointer-events: none;
    }
}

.productView-img-container {
    position: relative;
    margin: auto;
    max-width: get-width(stencilString('product_size'));
    width: 100%;
    border:1px solid #e5e5e5;
    img {
        @include lazy-loaded-img;
        max-height: 100%;
        width: auto;
    }

    @include lazy-loaded-padding('product_size');
}
.button--primary{
    background: #454545;
    border-radius:2px ;
}
.productView-thumbnails {
    @include u-listBullets("none");
    @include grid-row($behavior: "nest");
    margin-left: -(spacing("quarter"));
    margin-right: -(spacing("quarter"));
    margin-bottom: 30px;
    .slick-list {
        margin-left: remCalc(53px);
        margin-right: remCalc(57px);
    }

    .slick-next {
        right: 0;
        top: 60%;
        @include breakpoint("medium") {
           top: 36%; 
        }
    }

    .slick-prev {
        left: 0;
        top: 60%;
         @include breakpoint("medium") {
            top: 36%;
        }
    }  
}
.thumnail-left{
    @include breakpoint("medium") {
        text-align:left !important;
        a{
            margin-left: 3.9rem !important;
        }
    }
   
}
.productView-NumInput{
    width: 5rem;
}
.productView-NumRemove,.productView-NumAdd{
    border: none !important;
    padding: 0.6rem 0.8rem !important;
    outline: none !important;
}
.productView-NumBox{
    display: inline-block;
    border: 1px solid #e5e5e5;
}
.productView-arrowTop,.productView-arrowBottom{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    :hover{
        cursor: pointer;
    }
}
.productView-Share{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    p{
        padding-right:20px ;
        margin: 0;
    }
}
 .productView-thumbnail img {
        @include lazy-loaded-img;
        max-height: 80px;
        max-width: 80px;
        width:auto;
    }

.productView-thumbnail {
    @include grid-column(3);
    padding-left: spacing("quarter");
    padding-right: spacing("quarter");
    text-align: center;
    width: 100%;
    @include breakpoint("medium") {
        width: 100%;
    }
}

.productView-thumbnail-link {
    border: container("border");
    display: inline-block;
    height: 80px;
    max-width: 80px;
    padding: 2px;
    position: relative;
    text-align: center;

    &:hover,
    &.is-active {
        border-color: color("greys", "darker");
    }
}
.product-one-link{
    @include breakpoint("medium") {
        display: inline-block !important;
    }
}

// Details
// -----------------------------------------------------------------------------

.productView-details {
    margin-bottom: spacing("single") + spacing("third");
}


// Details - Product details
// -----------------------------------------------------------------------------

.productView-product {
    @include breakpoint("medium") {
        padding-bottom: spacing("single") + spacing("third");
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.productView-title {
    font-family: 'MyriadPro-Regular';
    font-size: fontSize("small");
    margin: -(spacing("half")) 0 spacing("quarter");

    @include breakpoint("medium") {
        margin-top: 0.2rem;
    };

    @include breakpoint("large") {
        font-size: 16px;
    };
   color:#333;
}

.productView-brand {
    color: $productView-brand-link-color;
    font-size: fontSize("smaller");
    margin: 0 0 spacing("half");

    @include breakpoint("large") {
        font-size: fontSize("small");
        margin: -(spacing("eighth")) 0 spacing("base");
    }

    a {
        color: $productView-brand-link-color;

        // scss-lint:disable NestingDepth
        &:hover {
            color: $productView-brand-link-color--hover;
        }
    }
}

// Details - Product price
// -----------------------------------------------------------------------------
.productView-priceBox{
   width: 100%;
   background: #f5f5f5;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding: 20px 0;
   @include breakpoint("medium") {
       padding: 20px;
   }
}
.productView-priceOne{
   display: flex;
   justify-content: flex-start;
   align-items:baseline;
   margin-left:0.5rem ;
   padding:0;
   font-family: Montreal-Serial-Regular; 
    div p{
       font-size: fontSize('smaller');
       font-family: Montreal-Serial-Regular;
       color: #000;
       margin: 0;
       @include breakpoint("medium") {
            font-size: fontSize("larger");
        }  
   }
     
   
}
.productView-priceTwo{
    font-size: 12px;
    margin: 0 0.5rem;
    color: #cd1919;
    @include breakpoint("medium") {
        font-size: fontSize('smaller');      
        margin: 0 1.5rem 0 0;
     }
    
}
.productView-priceOne s{
       font-size: fontSize('smaller');
       color: #808080;
       margin-left:0.8rem;
   }
.productView-rateBox{
      display: flex;
      justify-content: space-between;
      align-items: center;  
      border-bottom: 1px solid #e6e6e6;   
      flex-wrap:wrap;
}
.productView-rateBox>p{
    font-size: fontSize('tiny');
    color: #666666;
    margin: 0;
    padding:1.5rem  0;
}
.productView-rateOne{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 0;
    flex-wrap:wrap;
    .productView-reviewLink{
        font-size: 12px;
        @include breakpoint("medium") {
            font-size: 1rem;
        }
    }
}
.productView-rateText{
	display: flex;
	justify-content:flex-start;
	flex-wrap: wrap;
	padding:1rem 0 0 0; 
	p{
		width: 49%;
		margin: 0;
		padding: 0.2rem 0; 
	}	
}
	
.productView-price {
    font-size: fontSize("smaller");
    margin-bottom: spacing("third");

    @include breakpoint("medium") {
        font-size: fontSize("larger");
        margin-bottom: spacing("base");
    }

    .price-section--saving {
        font-size: fontSize("smaller");
    }

    abbr {
        border: 0;
        color: inherit;
        font-size: inherit;
    }
}
.productView-rating{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.productView-reviewLink {
    display: inline-block;
    margin-left: spacing("half");
    vertical-align: middle;
    display: flex;
    justify-content: flex-start;
    svg{
        margin-bottom: 5px;
    }
    + .productView-reviewLink {
        display: block;
        margin-left: auto;

        @include breakpoint("small") {
            display: inline-block;
            margin-left: spacing("half");
        }
    }

    > a {
        color: stencilColor("color-textSecondary");

        // scss-lint:disable NestingDepth
        &:hover {
            color: stencilColor("color-textSecondary--hover");
        }
    }
}


// Details - Product Information
// -----------------------------------------------------------------------------

.productView-info {
    @include clearfix;
    margin-top: spacing("half");

    @include breakpoint("small") {
        margin-top: 0;
    }

    > :first-child {

        @include breakpoint("small") {
            margin-top: spacing("single");
        }
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.productView-info-name,
.productView-info-value {
    float: left;

    @include breakpoint("small") {
        float: none;
    }
}

.productView-info-name {
    clear: both;
    margin-bottom: spacing("eighth");
    margin-right: spacing("quarter");

    @include breakpoint("small") {
        // font-family: fontFamily("headingSans");
        font-family:PoppinsM;
        font-size: fontSize("smallest");
        font-weight: fontWeight("normal");
    }
}

.productView-info-value {

}


// Details - Product options
// -----------------------------------------------------------------------------
//
// 1. Align the product options list item radios vertically.
// 2. Resetting font due to inline-block whitespace issue.
// 3. File upload button does not properly display in IE if font-size is 0
//
// -----------------------------------------------------------------------------

.productView-options {
    margin-top:1rem ;
    @include clearfix;
    margin-bottom: spacing("single");
    text-align: left;
    position: relative;
    @include breakpoint("small") {
        text-align: left;
    }

    .form-input[type="number"] {
        @include breakpoint("small") {
            width: grid-calc(2, $total-columns);
        }
    }

    .form {
        display: inline;
    }

    input[type="file"] {
        font-size: fontSize("smallest"); // 3
    }

    .form-field {
        font-size: 0; // 2
        margin-bottom: 1.5rem 0 1.5rem !important; 

        // scss-lint:disable SelectorDepth, NestingDepth
        > .form-checkbox + .form-label,
        > .form-radio + .form-label {
            display: inline-block;
            margin-left: spacing("single");
            width: auto;

            @include breakpoint("small") {
                margin-left: 0;
                width: 100%;
            }
        }

        > .form-label:nth-of-type(2) {
            margin-left: 0;
        }
    }

    .form-action {
         
        @include breakpoint("small") {
            float: left;
            padding: 0 remCalc(10);
            width: 50%;
        }
        @include breakpoint("medium") {
            float: none;
            padding: 0;
            width: auto;
        }
        @include breakpoint("large") {
            display: inline-block;
            margin-top: 1rem;
            width: 45%;
             padding-right: 11px
        }

        // scss-lint:disable SelectorDepth, NestingDepth
        .button {
            width: 100%;
            @include breakpoint("large") {
                width: 100%;
               
            }
        }
    }
}
.productView-sizeChart{
    position: absolute;
    right: 0px;
    top: 0px;
}
.productView-sizeChart p{
    color:#333;
    text-decoration:underline;
}
.productView-sizeChart p:hover{
    cursor: pointer;
    color: #777;
}
.add-cart-button{
    @include breakpoint("medium"){
        width: 95% !important;
    }  
}
// Product list (with images)
// -----------------------------------------------------------------------------

.productOptions-list {
    border: $productOptions-list-border;
    list-style: none;
    margin: 0;
}

.productOptions-list-item {
    padding: $productOptions-list-item-padding;

    + .productOptions-list-item {
        border-top: $productOptions-list-item-borderTop;
    }

    .form-label {
        text-align: left;
        top: -2px; // 1  
    }
}
.form-option {
    border: none;
    color: stencilColor("form-label-font-color");
    cursor: pointer;
    display: inline-block;
    font-size: 0; // 2
    margin-bottom: spacing("third");
    margin-right: 1.2rem;
    padding: 0px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #f5f5f5;
    transition: all 0.15s ease;

    &:hover {
        border-color: stencilColor("input-border-color-active");
    }

    .form-radio:checked + & {
        background: #333;
        color: #fff;
    }
}
.form-option-variant--pattern{
    min-width: 2.71429rem;
    width: 100% !important;
    height: 100% !important;
    background-size: 100% 100%;
}
.productOptions-list-item-figure,
.productOptions-list-item-content {
    display: table-cell;
    vertical-align: middle;
}

.productOptions-list-item-figure {
    width: $productOptions-list-item-figure-width;
}

.productOptions-list-item-content {
    padding-left: $productOptions-list-item-content-paddingLeft;
}


// Share products
// -----------------------------------------------------------------------------

.shareProduct {
    text-align: center;
}


// EasyZoom settings for zoomable product image
// -----------------------------------------------------------------------------

.productView-image .easyzoom-flyout {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;

    img {
        max-width: none;
        width: auto;
    }
}

.tabs-box{
    display: flex;
    justify-content: space-between;
}
.tabs-box>ul{
    width: 22%;
    padding: 20px 20px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
	border: none;
}
.tabs-box>ul li{
    border: none !important;
    width: 100%;
    border-left:6px solid #fff !important;
    text-align: center;
    padding: 0.5rem 0;
    background: #fff;
    margin-bottom: 1rem !important;
}
.tabs-box>ul .is-active{
     border-left:6px solid #333333 !important;
     background: #f2f2f2;
}
.tabs-box ul li a{
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
 .tabs-box .tabs-contents{
     width: 77%;
     display: flex;
     justify-content: center;
     background: #f5f5f5;
     padding: 20px;
     overflow: hidden;
 }
.form-option{
	width: auto !important;
}
.productView-description{
	float: none !important;
	width: 100% !important;
}
.product-n-link{
    max-width: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    overflow: hidden;
    @include breakpoint("medium") {
        height: 80px;
    }
    img{
        position: relative;
        display: block;
        height:auto;
        width:100%;
        margin: 0 auto;
        max-width: none;
        max-height: none;
        @include breakpoint("medium") {
             
            max-width: 80px;
            max-height: 80px;
        }       
    }
}
.productView-des{
    .tabs-box{
        display: block;
        @include breakpoint("medium") {
            display: flex;
        }  
    }
    .tabs{
        padding: 0;
        width: auto;
       @include breakpoint("medium") {
           width: 22%;
            padding: 20px 20px 20px 10px; 
        }   
    }
   .tabs-contents{
        width: auto;
        @include breakpoint("medium") {
           width: 77%;
        }   
   }
}
#product-reviews-bottom{
    display: none;
    @include breakpoint("medium") {
        display: block;
    }   
}
.productReviews .reviwesTap li{
    width: 100%;
   
}
.m-top-show{
    display: block;
    @include breakpoint("medium") {
        display: none;
    } 
}
.pc-top-show{
     display: none;
    @include breakpoint("medium") {
        display: block;
    } 
}
.productView-images .slick-slider{
    margin-bottom: 50px !important;
     @include breakpoint("medium") {
        margin-bottom: 100px !important;
    } 
}
#previewModal{
    top: 30px !important;
    left: 2.5% !important;
    @include breakpoint("medium") {
         top: 50% !important;
    }
}
