<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}">
    <head>
        <title>{{ head.title }}</title>
        {{{ resourceHints }}}
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}

        <link href="{{ head.favicon }}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <script>
            // Change document class from no-js to js so we can detect this in css
            document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
        </script>

        {{ getFontsCollection }}
        {{{stylesheet '/assets/css/theme.css'}}}

        {{{head.scripts}}}
        {{{head.rsslinks}}}

        {{inject 'themeSettings' theme_settings}}
        {{inject 'genericError' (lang 'common.generic_error')}}
        {{inject 'maintenanceMode' settings.maintenance}}
        {{inject 'urls' urls}}
        {{inject 'secureBaseUrl' settings.secure_base_url}}
        {{inject 'cartId' cart_id}}
        {{inject 'template' template}}
        {{{snippet 'htmlhead'}}}
    </head>
    <body>
        {{{snippet 'header'}}}
        <svg data-src="{{cdn 'img/icon-sprite.svg'}}" class="icons-svg-sprite"></svg>

        {{#and settings.privacy_cookie settings.is_eu_ip_address}}
            {{> components/common/cookie}}
        {{/and}}

        {{> components/common/header }}
        {{> components/common/body }}
        {{> components/common/footer }}

        <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
        <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>
        <script>
            // Exported in app.js
            window.stencilBootstrap("{{page_type}}", {{jsContext}}).load();
        </script>

        {{{footer.scripts}}}
        {{{snippet 'footer'}}}
        <script>
            try {
                ga('set', 'dimension1', window.google_tag_params.ecomm_prodid); // Please make sure that Dimension 1 is set as the Custom Dimension for Product ID
            } catch (e) {}
            try {
                ga('set', 'dimension2', window.google_tag_params.ecomm_pagetype); // Please make sure that Dimension 2 is set as the Custom Dimension for Page Type
            } catch (e) {}
            try {
                ga('set', 'dimension3', window.google_tag_params.ecomm_totalvalue); // Please make sure that Dimension 3 is set as the Custom Dimension for Total Value
            } catch (e) {}
            ga('send', 'event', 'page', 'visit', window.google_tag_params.ecomm_pagetype, {
                'nonInteraction': 1
            });
        </script>
    </body>
</html>
