
<div class="ka-container">
    <section class="productCarousel"
    data-list-name="{{list}}"
    data-slick='{
        "dots": true,
        "infinite": false,
        "mobileFirst": true,
        "slidesToShow": 2,
        "slidesToScroll": 3,
        "responsive": [
            {
                "breakpoint": 1260,
                "settings": {
                    "slidesToScroll": 5,
                    "slidesToShow": 5
                }
            },
            {
                "breakpoint": 800,
                "settings": {
                    "slidesToScroll": 4,
                    "slidesToShow": 4
                }
            },
            {
                "breakpoint": 550,
                "settings": {
                    "slidesToScroll": 2,
                    "slidesToShow": 2
                }
            }
        ]
    }'
>
    {{#each products}}
    <div class="productCarousel-slide">
            {{> components/products/card settings=../settings theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
    </div>
    {{/each}}
</section>

</div>
