<div class="tabs-box">
	<ul class="tabs" data-tab>
		{{#if product.description}}
	    <li class="tab is-active">
	        <a class="tab-title" href="#tab-description">{{lang 'products.description'}}</a>
	    </li>
	    {{/if}}
	    {{#if product.custom_fields.length '>'0}}
	    <li class="tab">
	        <a class="tab-title" href="#tab-specs">Specs</a>
	    </li>
	    {{/if}}
	    {{#if product.warranty}}
	        <li class="tab">
	            <a class="tab-title" href="#tab-warranty">{{lang 'products.warranty'}}</a>
	        </li>
	    {{/if}}
		{{#if product.videos.list.length}}
            <li class="tab">
	            <a class="tab-title" href="#tab-videos">{{lang 'products.videos.header'}}</a>
	        </li>
        {{/if}}
		{{#if product.num_reviews '>'0}}
	     	<li class="tab">
		        <a class="tab-title" href="#tab-reviews">  Reviews ( {{product.num_reviews}} )</a>
		    </li>
	     {{/if}}
	    {{#all settings.show_product_reviews theme_settings.show_product_reviews_tabs product.reviews.total}}
	        <li class="tab">
	            <a class="tab-title productView-reviewTabLink" href="#tab-reviews">{{lang 'products.reviews.header' total=product.reviews.total}}</a>
	        </li>
	    {{/all}}
	</ul>
	<div class="tabs-contents">
		{{#if product.description}}
	    <div class="tab-content is-active" id="tab-description" style="width: 100%;">
	        {{{product.description}}}
	        {{{snippet 'product_description'}}}
	    </div>
	    {{/if}}
	   {{#if product.warranty}}
	       <div class="tab-content" id="tab-warranty">
	           {{{product.warranty}}}
	       </div>
	   {{/if}}
	   {{#if product.custom_fields.length '>'0}}
	   <div class="tab-content" id="tab-specs">
	   		<table border="1" width="100%">
	   			{{#each product.custom_fields}}
					 <tr>
					 	<th width="30%" class="tab-specs-th">{{name}}:</th>
					 	<td class="tab-specs-td">{{{value}}}</td></tr>
				{{/each}}
	   			
	   		</table>
	   </div>
	   {{/if}}
	   {{#if product.num_reviews '>'0}}
	    <div class="tab-content" id="tab-reviews" style="width: 100%;">
	    	 {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
	    </div>
		{{/if}}
		{{#if product.videos.list.length}}
            <div class="tab-content" id="tab-videos" style="width: 100%;">
		        {{> components/products/videos product.videos}}
	    	</div>
        {{/if}}
	   {{#all settings.show_product_reviews theme_settings.show_product_reviews_tabs}}
	       <div class="tab-content" id="tab-reviews">
	           {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
	       </div>
	   {{/all}}
	</div>
</div>